In [1]:
age=input("나이를 입력하세요: ")
age=int(age)
print("당신은 내년에",age+1,"살입니다.")

나이를 입력하세요:  10

당신은 내년에 11 살입니다.

In [2]:
age=input("나이를 입력하세요: ")
age=int(age)
age=age+1
print("당신은 내년에",age,"살입니다.")

나이를 입력하세요:  10

당신은 내년에 11 살입니다.

In [3]:
age=input("나이를 입력하세요: ")
print("당신은 내년에",age+1,"살입니다.")

나이를 입력하세요:  10

TypeError: can only concatenate str (not "int") to str

In [6]:
age=int(input("나이를 입력하세요: "))
print("당신은 내년에",age+1,"살입니다.")

나이를 입력하세요:  10

당신은 내년에 11 살입니다.

In [7]:
age=float(input("나이를 입력하세요: "))
print("당신은 내년에",age+1,"살입니다.")

나이를 입력하세요:  10

당신은 내년에 11.0 살입니다.

In [9]:
age=int(input("나이를 입력하세요: "))
print(age,"살입니다.")

나이를 입력하세요:  10

10 살입니다.

In [11]:
age=str(input("나이를 입력하세요: "))
print(age+"살입니다.")

나이를 입력하세요:  10

10살입니다.

In [12]:
a=str(1)
b=str(2)
a+b

'12'

In [13]:
a=int(1)
b=int(2)
a+b

3

In [26]:
score=int(input("your score: "))

if score>=90:print("정말 잘했어요!")
elif score>=60:print("좋아요, 합격입니다!")
else:print("다음에 더 잘해봐요!.")

your score:  88

좋아요, 합격입니다!

In [31]:
n=float(input("number: "))

if n>0:print("양수")
elif n<0:print("음수")
else:print(0)

number:  0.526

양수

In [ ]:
마트에 가서
사과 3개를 사오고
만약에 수박 있으면 (수박을) 하나 사와

개발자는 사과를 하나 사온다 깔깔깔

In [61]:
n=int(input("number: "))

if n%2==0:print("짝수")
else:print("홀수")

number:  3215

홀수

In [52]:
a,b=map(int,input().split())

 2 2

In [54]:
a

2

In [55]:
b

2

In [79]:
#코드플레이스 정답
a,b=map(int,input().split())

if (a>3)or(b>3):print("잘못된입력")
elif a==b:print("무승부")
elif a-b==(-2 or 1):print("A승B패")
else:print("B승A패")

 3 3

무승부

In [80]:
#코드플레이스 오답
a,b=map(int,input().split())

if (a!=(1 or 2 or 3))or(b!=(1 or 2 or 3)):print("잘못된입력")
elif a==b:print("무승부")
elif a-b==(-2 or 1):print("A승B패")
else:print("B승A패")

 3 2

잘못된입력