In [1]:
n1 = int(input("첫 번째 정수를 입력하세요: "))
n2 = int(input("두 번째 정수를 입력하세요: "))

if n1 > n2:
  print(f"{n1}은(는) {n2}보다 큽니다.")
elif n1 < n2:
  print(f"{n1}은(는) {n2}보다 작습니다.")
else:
  print(f"{n1}와(과) {n2}는 같습니다.")

첫 번째 정수를 입력하세요: 4
두 번째 정수를 입력하세요: 6
4은(는) 6보다 작습니다.

In [7]:
n1 = int(input("첫 번째 정수를 입력하세요: "))
n2 = int(input("두 번째 정수를 입력하세요: "))
n3 = int(input("세 번째 정수를 입력하세요: "))

maxn = n1
if maxn <= n2:
  maxn = n2
if maxn <= n3:
  maxn = n3

print(maxn)

첫 번째 정수를 입력하세요: 20
두 번째 정수를 입력하세요: 20
세 번째 정수를 입력하세요: 10
20

In [19]:
s=int(input("시험 점수(0~100)를 입력하세요: "))

if 0 <= s <= 100:
  if s >= 90:g="A"
  elif s >= 80:g="B"
  elif s >= 70:g="C"
  elif s >= 60:g="D"
  else:g="F"
  print(f"당신의 학점은 {g}입니다.")
else:
  print("점수는 0부터 100 사이의 값이어야 합니다.")

시험 점수(0~100)를 입력하세요: 97
당신의 학점은 A입니다.

In [30]:
y=int((input("연도를 입력하세요: ")))

if (y%4 == 0 and y%100 != 0) or (y%400 == 0):
  print(f"{y}년은 윤년입니다.")
else:
  print(f"{y}년은 윤년이 아닙니다.")

연도를 입력하세요: 203040
203040년은 윤년입니다.

In [35]:
for i in range(1,6):
  print("반복!",i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [37]:
for i in range(5):
  print("반복!",i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [40]:
for i in range(1,10,2):
  print("반복!",i)

반복! 1
반복! 3
반복! 5
반복! 7
반복! 9

In [43]:
for i in ['A','B',3,4,5]:
  print("반복!",i)

반복! A
반복! B
반복! 3
반복! 4
반복! 5

In [46]:
for i in "Hello":
  print(i)

H
e
l
l
o

In [53]:
n = int(input("양의 정수 N을 입력하세요: "))

s = 0
for i in range(1, n+1):
  s += i

print(f"{i}번: 1부터 {n}까지의 합은: {s}입니다.")

양의 정수 N을 입력하세요: 12313
12313번: 1부터 12313까지의 합은: 75811141입니다.

In [55]:
c = 0
print("0부터 9까지 출력:")
while c < 10:
  print(c)
  c += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [60]:
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료